/* General CSS */

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#header {
  flex: 0;
  min-height: 32px;
  display: flex;
  justify-content: space-between;
  background-color: #45acf8;
}

#header-title {
  margin: 0;
  padding-left: 5pt;
  padding-right: 5pt;
  align-content: center;
  font-size: 16pt;
}

#share-button {
  margin: 3pt;
}

.main {
  flex: 1;
  width: 100vw;
  display: flex;
  overflow: auto;
}

#side {
  flex: 0;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 100%;
}

#side .panel {
  flex: 0;
  display: flex;
  flex-direction: column;
}

#side #case-list {
  flex: 2;
  overflow-y: hidden;
}

#side #step-metric-list {
  flex: 1;
  overflow-y: hidden;
}

#side .panel #panel-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#side .panel #panel-heading {
  font-weight: bold;
  text-align: center;
  background-color: #999999;
  padding: 1pt;
}

#side .panel-top {
  display: flex;
  flex-direction: row;
}

#side .panel-top button {
  flex: 1;
  margin: 0;
  border: none;
  font-weight: bold;
  text-align: center;
  background-color: #bbbbbb;
}

#side .panel-top button:hover {
  background-color: #cccccc;
}

#side .date-range {
  display: flex;
  padding-left: 5pt;
  padding-right: 5pt;
}

#side .date-range input {
  flex: 1;
}

.toggle-off, .toggle-on {
  margin: 0;
  border: none;
  text-align: left;
  padding-left: 5pt;
  padding-right: 5pt;
}
.toggle-off {
  background-color: #f3f3f3;
}
.toggle-off:hover {
  background-color: #cccccc;
}
.toggle-on {
  background-color: #80c0e0;
}

#graphs {
  flex: 1;
  display: block;
  align-content: center;
  align-items: center;
  overflow: auto;
}

#graphs-alt {
  font-size: 16pt;
  text-align: center;
  width: 100%;
}

.graph-container {
  position: relative;
  width: 95%;
  height: 95%;
  margin: 20px;
  background-color: #f3f3f3;
}

#details {
  flex: 0;
  display: flex;
  flex-direction: column;
  min-width: 330px;
  height: 100%;
  background-color: #f3f3f3;
}

#details #details-a {
  flex: 1;
  height: 33%;
}

#details #details-b {
  flex: 1;
  height: 33%;
}

#details #details-diff {
  flex: 1;
  height: 34%;
}

#details .panel {
  flex: 0;
  display: flex;
  flex-direction: column;
}

#details #panel-heading {
  font-weight: bold;
  text-align: center;
  background-color: #999999;
  padding: 1pt;
}

#details #panel-body {
  overflow-y: auto;
  padding: 5px;
}

#details #case-name {
  padding: 0;
  margin: 0;
  text-align: center;
}

#details a:link {
  color: #008fd7;
}

#details a:visited {
  color: #008fd7;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  align-content: center;
  justify-items: center;
}

.modal-root {
  background-color: #ffffff;
  display: none; /* will be 'display: flex' when shown */
  flex-direction: column;
  margin: 0;
  border: none;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: none;
  margin: 0;
  margin-bottom: 15px;
  border: none;
  padding: 0;
}

.modal-title {
  flex: none;
  font-family: inherit;
  margin: 0;
  border: none;
  padding: 0;
}

.modal-close-button {
  margin: 0;
}

#progress-box {
  width: 60vw;
  background-color: #f3f3f3;
}

#progress-bar {
  width: 0%;
  height: 30px;
  background-color: #008fd7;
}

#cpuinfo {
  flex: 1 1 auto;
  width: 90vw;
  height: 85vh;
  overflow: auto;
  font-family: Menlo, Consolas, monospace;
  font-size: 13px;
  white-space: pre-wrap;
  margin: 0;
  border: 1px solid #dddddd;
  padding: 0;
}

#cpuinfo-diff {
  flex: 1 1 auto;
  width: 90vw;
  /* max-height: 85vh; */
  overflow: hidden;
  margin: 0;
  /* border: 1px solid black; */
  padding: 0;
}

/* diff2html */
div.d2h-file-header {
  display: none;
}
div.d2h-file-wrapper {
  margin: 0;
  padding: 0;
}
div.d2h-file-diff {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 85vh;
}
div.d2h-code-wrapper {
  position: relative;
}
